<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1009642980380-fq5kll0fdraffgs6h4f5ccj8j20t71l1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1009642980380-fq5kll0fdraffgs6h4f5ccj8j20t71l1</string>
	<key>API_KEY</key>
	<string>AIzaSyCrp8IG9_EtdJWJ6bHbZxmOjapWBfWmKX0</string>
	<key>GCM_SENDER_ID</key>
	<string>1009642980380</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.domain.mynotes.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>my-mihir-notes-flutter-project</string>
	<key>STORAGE_BUCKET</key>
	<string>my-mihir-notes-flutter-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1009642980380:ios:d63f51e9405ab2b23bcbd9</string>
</dict>
</plist>